@import '../../styles/variables';

.btn-link {
	color: $color-brand;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
	font-size: 12px;
	text-decoration: underline;
	text-align: center;
	display: block;
	width: 100%;
	padding: 15px 0;
	
	&:hover {
		color: $color-brand-hover;
	}
}
